html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.header {
    color: rgb(45, 8, 194);
    border-radius: 20px;
    text-shadow: 1px 2px 10px rgba(59, 84, 226, 0.31);
    box-shadow: 5px -5px 5px 0px #1F48C4;
}

.container {
    background-color: gold;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 10px 20px;
    font-family: 'New Tegomin', serif;
}

.body--white {
    background-color: azure
}

.list__Item {
    list-style-type: square;
}

.footer {
    background-color: crimson;
    padding: 20px;
    text-align: center;
}

.button {
    background: blue;
    color: white;
    border: 1px solid white;
    margin: 0, auto;
    display: block;
}
.image{
    margin: 0 auto;
    display: block;
    margin-bottom: 10px;
   border-radius: 10%;
}