.table {
    border-collapse: collapse;
    font-family: 'New Tegomin', serif;
    width: 100%;
    overflow-x: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.table__Cell {
    text-align: center;
    border: 3px solid black;
}

.table__Row:nth-child(even) {
    background-color: #eee;
}
.table__Row:nth-child(odd) {
    background-color: rgb(143, 140, 140);
}

.table__Row:hover {
    background-color: rgb(250, 109, 109);
}

.table__Header {
    background-color: red;
    color: white;
}
.table__Caption {
    font-size: 40px;
    color: rgb(8, 0, 2);
    background-color: rgb(255, 0, 0);
    font-style: italic;
    border-top: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
}